.silder-container {
    position: relative;
}

.silder-container .slider-btn-block {
    width: 120px;
    height: 60px;
    padding: 2px;
    color: white;
    position: absolute;
    border-radius: 10px;
    top: 40%;
    left: 38%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    z-index: 2;
    cursor: pointer;
}

.right-btn-arrow, .left-btn-arrow {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 3;
    -webkit-font-smoothing: antialiased;
}

.right-btn-arrow:hover, .left-btn-arrow:hover {
    color: rgba(255, 255, 255, 0.7)
}